/*VARIABLES*/
$body_color: #f5f5f5;
$navbar_color: #337ab7;
$black: black;
$white: white;
$grey: grey;

@mixin transition($property, $duration, $type) {
    -webkit-transition: $property $duration $type;
    -moz-transition: $property $duration $type;
    -o-transition: $property $duration $type;
}

@mixin width_height($width, $height) {
    width: $width;
    height: $height;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*Google Font CSS*/
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 10px;/*for responsive-size*/
}

.body {      
    background-color: $body_color;
    h1,h2,h3,h4,h5,h6 {
        font-weight: bold;
    }
}



/*NAVBAR-SECTION*/

.menu-bar {
    background-color: $white; 
    .navbar { 
        .container {
            #navbarCollapse {
                .row-list {
                    width: 100%;
                    ul {
                        padding: 0;/*Removes the remaining space from the right of the container*/
                        width: 100%;
                        .active {
                            color: $white;
                        }
                        li {
                            width: 25%;
                            padding: 0;
                            a {
                                color: $black;
                                font-size: 1.44rem;
                                font-weight: bold;
                                padding: 2rem;
                                @include width_height(100%, 100%);
                                text-align: center;
                                border-radius: 0;
                                @include transition(all, .5s, ease-in-out);
                                    i {
                                        margin-right:1.6rem ;
                                    }
                                    &:hover {
                                        background-color: $navbar_color; 
                                        color: $white;   
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}



/*CONTENT-SECTION*/


.information-card {
        .img-thumbnail {
            max-width: 100%;
            height: auto;
        }
    }
    li {
        a{
            text-decoration: none;
    }
}    


.social-nav {
    ul {
        display: flex;
        justify-content: space-evenly;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $black;
                &:hover {
                    @include transition(all, .3s, ease-in-out);
                    color: $navbar_color;
                }
            }
        }
    }
    
}

.main-content  {
    .container{
        margin-top: 12.8rem;
    }  
}

/*Contents Paddings*/
.body-about, .body-education, .body-competencies, .body-projects, .body-contact {
    padding: 1rem;
}

.col-competencies {
    padding: 1.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.16);
}

.core-competencies {
    .competencies-icon {
        color: $navbar_color ;
    }
    .competencies-info {
        padding: 1rem;
    }
}

.education-date, .trainings-date {
    font-size: 1.28rem;
}

.card-education, .card-trainings {
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.logo-image{
    max-width: 7rem;
    max-height: 6rem;
    float: right;
}

.organisation-link:hover {
    text-decoration: none;
    @include transition(all, .5s, ease-in-out);
}

.organization-text {
    margin-top: 3rem;
}

.tab-content {
    margin-bottom: 2rem;
    .tab-pane {
        .active{
            @include transition(opacity, .3s, linear);
        }
    }
}


.summary-list {
    li {
        font-weight: 600;
        margin: 0.32rem;
        padding: 1.6rem 3.2rem 1.6rem .8rem;
        font-size: .9rem;       
        &:hover {
            border-bottom: 1px solid $navbar_color;
            padding-left: 1.44rem;
        }
        i {
            color: $navbar_color;
        }
    }
}

.contact-form input, .contact-form textarea, .contact-form button{
    font-size: 1.5rem;
}

#submitBtn {
    @include transition(all, .5s, ease-in-out)
}


/*FOOTER-SECTION*/

.footer {
    background-color: $black;
    color: $grey;
    padding: 2.4rem;
}



/*RESPONSIVE - BREAKPOINTS*/

@media screen and (max-width: 576px) {
    .body {
        font-size: 1.3rem;
    }

    

    .summary-list li {
        font-size: 1.1rem;
    }

    .contact-form input, .contact-form textarea, .contact-form button{
        font-size: 1.3rem;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .body {
        font-size: 1.4rem;
    }

    .summary-list li {
        font-size: 1.2rem;
    }

    .contact-form input, .contact-form textarea, .contact-form button{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 993px)  {
    .body {
        font-size: 1.5rem;
    }
    
    .summary-list li {
        font-size: 1.3rem;
    }

    .contact-form input, .contact-form textarea, .contact-form button{
        font-size: 1.5rem;
    }
}