/*VARIABLES*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*Google Font CSS*/
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
  /*for responsive-size*/
}

.body {
  background-color: #f5f5f5;
}

.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
  font-weight: bold;
}

/*NAVBAR-SECTION*/
.menu-bar {
  background-color: white;
}

.menu-bar .navbar .container #navbarCollapse .row-list {
  width: 100%;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul {
  padding: 0;
  /*Removes the remaining space from the right of the container*/
  width: 100%;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul .active {
  color: white;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li {
  width: 25%;
  padding: 0;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a {
  color: black;
  font-size: 1.44rem;
  font-weight: bold;
  padding: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a i {
  margin-right: 1.6rem;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a:hover {
  background-color: #337ab7;
  color: white;
}

/*CONTENT-SECTION*/
.profile-picture source {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.profile-picture source .img-thumbnail {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.information-card li a {
  text-decoration: none;
}

.social-li a {
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.main-content .container {
  margin-top: 12.8rem;
}

/*Contents Paddings*/
.body-about, .body-education, .body-competencies, .body-projects, .body-contact {
  padding: 1rem;
}

.core-competencies {
  margin-bottom: 3rem;
}

.core-competencies .competencies-icon {
  color: #337ab7;
}

.core-competencies .competencies-info {
  padding: 1rem;
}

.education-date, .trainings-date {
  font-size: 1.28rem;
}

.card-education .row, .card-trainings .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-image {
  width: 8rem;
  height: 7rem;
  float: right;
}

.organisation-link:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.organization-text {
  margin-top: 3rem;
}

.tab-content {
  margin-bottom: 2rem;
}

.tab-content .tab-pane .active {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

.summary-list li {
  font-weight: 600;
  margin: 0.32rem;
  padding: 1.6rem 3.2rem 1.6rem .8rem;
  font-size: .9rem;
}

.summary-list li:hover {
  border-bottom: 1px solid #337ab7;
  padding-left: 1.44rem;
}

.summary-list li i {
  color: #337ab7;
}

.contact-form input, .contact-form textarea, .contact-form button {
  font-size: 1.5rem;
}

#submitBtn {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/*FOOTER-SECTION*/
.footer {
  background-color: black;
  color: grey;
  padding: 2.4rem;
}

/*RESPONSIVE - BREAKPOINTS*/
@media screen and (max-width: 576px) {
  .body {
    font-size: 1.3rem;
  }
  .summary-list li {
    font-size: 1.1rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.3rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .body {
    font-size: 1.4rem;
  }
  .summary-list li {
    font-size: 1.2rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 993px) {
  .body {
    font-size: 1.5rem;
  }
  .summary-list li {
    font-size: 1.3rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style_scss.css.map */