/*VARIABLES*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*Google Font CSS*/
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
  /*for responsive- font size*/
}

.body {
  background-color: #f5f5f5;
}

.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
  font-weight: bold;
}

/*NAVBAR-SECTION*/
.menu-bar {
  background-color: white;
}

.menu-bar .navbar .container #navbarCollapse .row-list {
  width: 100%;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul {
  padding: 0;
  /*Removes the remaining space from the right of the container*/
  width: 100%;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul .active {
  color: white;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li {
  width: 25%;
  padding: 0;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a {
  text-align: center;
  color: black;
  font-size: 1.44rem;
  font-weight: bold;
  padding: 2rem;
  width: 100%;
  height: 100%;

  border-radius: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a i {
  display: flex;
  justify-content: center;
  margin-right: 1.6rem;
}

.menu-bar .navbar .container #navbarCollapse .row-list ul li a:hover {
  background-color: #337ab7;
  color: white;
}

/*CONTENT-SECTION*/
.information-card .img-thumbnail {
  max-width: 100%;
  height: auto;
}

li a {
  text-decoration: none;
}

.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.social-nav ul li {
  list-style: none;
}

.social-nav ul li a {
  text-decoration: none;
  color: black;
}

.social-nav ul li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  color: #337ab7;
}

.main-content .container {
  margin-top: 12.8rem;
}

/*Contents Paddings*/
.body-about, .body-education, .body-competencies, .body-projects, .body-contact {
  padding: 1rem;
}

.col-competencies {
  padding: 1.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.core-competencies .competencies-icon {
  color: #337ab7;
}

.core-competencies .competencies-info {
  padding: 1rem;
}

.education-date, .trainings-date {
  font-size: 1.28rem;
}

.card-education .row, .card-trainings .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo-image {
  max-width: 7rem;
  max-height: 6rem;
  float: right;
}

.organisation-link:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.organization-text {
  margin-top: 3rem;
}

.tab-content {
  margin-bottom: 2rem;
}

.tab-content .tab-pane .active {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

.summary-list li {
  font-weight: 600;
  margin: 0.32rem;
  padding: 1.6rem 3.2rem 1.6rem .8rem;
  font-size: .9rem;
}

.summary-list li:hover {
  border-bottom: 1px solid #337ab7;
  padding-left: 1.44rem;
}

.summary-list li i {
  color: #337ab7;
}

.contact-form input, .contact-form textarea, .contact-form button {
  font-size: 1.5rem;
}

#submitBtn {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/*FOOTER-SECTION*/
.footer {
  background-color: #337ab7;
  color: white;
  padding: 2.4rem;
}

/*RESPONSIVE - BREAKPOINTS*/
@media screen and (max-width: 576px) {
  .body {
    font-size: 1.3rem;
  }
  .summary-list li {
    font-size: 1.1rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.3rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .body {
    font-size: 1.4rem;
  }
  .summary-list li {
    font-size: 1.2rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 993px) {
  .body {
    font-size: 1.5rem;
  }
  .summary-list li {
    font-size: 1.3rem;
  }
  .contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1.5rem;
  }
}
